@import '../utils/variables';

.errorSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 195px 0 235px;
    color: $primary-color;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 133px;

        & .errorTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 99px;

            & h2 {
                font-weight: 700;
                font-size: 96px;
            }
        }

        & p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-weight: 500;
            font-size: 18px;
            line-height: 142.6%;
        }
    }

    &__backLink {
        font-weight: 500;
        font-size: 14px;
        line-height: 142.6%;
        color: $primary-color;
    }
}

@media screen and (min-width: $responsive-limit) {
    .errorSection {
        margin: 169px 0;

        &__container {
            margin-bottom: 182px;

            & .errorTitle {
                margin-bottom: 66px;
                width: 597px;
                height: 263px;

                & h2 {
                    font-weight: 700;
                    font-size: 288px;
                }
            }

            & p {
                font-size: 36px;
            }
        }

        &__backLink {
            font-size: 18px;
        }
    }
}