@import '../utils/variables';

.homePicture {
    margin-top: 16px;
    margin-bottom: 22px;
}

.homeCardSection {
    margin-bottom: 22px;
}

@media screen and (min-width: $responsive-limit) {
    .homePicture {
        margin-top: 63px;
        margin-bottom: 43px;
    }
}