@import '../utils/variables';

.aboutPicture {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 223px;
        border-radius: 10px;
        overflow: hidden;

        & .picture {
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
            filter: brightness(0.7);

            &--big {
                display: none;
            }
        }
    }
}

@media screen and (min-width: $responsive-limit) {
    .aboutPicture {
        &__container {
            & .picture {
                &--small {
                    display: none;
                }

                &--big {
                    display: block;
                }
            }
        }
    }
}