@import '../utils/variables';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 209px;
    background-color: black;

    &__logo {
        width: 122px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 46px;
        color: white;
        font-size: 12px;
        line-height: 34px;
        margin: 0;
    }
}

@media screen and (min-width: $responsive-limit) {
    .footer {
        &__text {
            margin-top: 32px;
            font-size: 24px;
        }
    }
}