@import '../utils/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px $page-margin 16px;

    &__logo {
        width: 145px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        width: 140px;
        height: 17px;
        margin-top: 4px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;

        &__button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $primary-color;
            text-decoration: none;

            &--index {
                width: 59px;
                text-decoration: underline;
            }

            &--about {
                width: 71px;
            }

            span {
                margin-top: 4px;
            }
        }
    }
}

@media screen and (min-width: $responsive-limit) {
    .header {
        margin: 40px $page-margin-desktop 0;

        &__logo {
            width: auto;
        }

        .nav {
            width: 309px;
            height: 34px;
            font-size: 24px;
            text-transform: capitalize;

            &__button {
                &--index {
                    width: 136px;
                }

                &--about {
                    width: 116px;
                }
            }
        }
    }
}