@import '../utils/variables';

.homeCardSection {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: $responsive-limit) {
    .homeCardSection {
        background-color: #F7F7F7;
        border-radius: 25px;
        padding: 56px 50px;

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px 5.3%;
        }
    }
}