@import '../utils/variables';

.hostCard {
    display: flex;
    height: 33px;

    &__name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;

        & span {
            align-self: flex-end;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            color: $primary-color;
        }
    }

    &__photoContainer {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #C4C4C4;

        & .photo {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}