@import '../utils/variables';

.tagsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &__tag {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 84px;
        height: 18px;
        border-radius: 5px;
        font-size: 10px;
        line-height: 142.6%;
        color: white;
        background-color: $primary-color;
        padding-left: 10px;
        padding-right: 10px;
    }
}