@import '../utils/variables';

* {
    box-sizing: border-box;
}

body {
    max-width: 640px;
    margin: auto;
    font-family: $primary-font, sans-serif;
    text-rendering: auto;
}

main {
    margin: 0 20px;
}

h1,
h2,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}