@import '../utils/variables';

* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: auto;
    font-family: $primary-font, sans-serif;
    text-rendering: auto;
}

main {
    margin: 0 $page-margin;
    min-height: 745px;
}

h1,
h2,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

@media screen and (min-width: $responsive-limit) {
    main {
        margin: 0 $page-margin-desktop;
        min-height: 916px;
    }
}