@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$primary-color: #FF6060;
$background-color: #F7F7F7;

$primary-font: 'Montserrat';

$page-margin: 20px;
$page-margin-desktop: 100px;

$responsive-limit: 1024px;