@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

$primary-color: #FF6060;
$background-color: #F7F7F7;

$primary-font: 'Montserrat';

$fontsize-base: 18px;